.education {
  text-align: center;
  background: #0f172a;
}

.education h2 {
  color: #7dd3fc;
  margin-bottom: 40px;
}

.education-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.education-card {
  background: #1e293b;
  width: 100%;
  max-width: 500px;
  padding: 30px;
  border-radius: 12px;
  text-align: left;
}

.education-card:hover {
  transform: translateY(-8px);
  border: 1px solid #38bdf8;
}

.education-card h3 {
  color: #7dd3fc;
}